.table{
    color: white;
    font-size: 10px;
    margin-left: 1.5rem;  
    height: 8rem!important;
    margin-top: .5rem;
    font-family: Poppins!important; 
    overflow-y: scroll!important;   
}

.table td, .table th {
  border: 1px solid ;
  padding: 5px;
  background: rgba(235, 7, 235, 0.24);
  font-family: Poppins;
}

@media (min-width: 390px){
    .assetTableTitle{
    font-size: 14px;
    margin-left: 1rem;
    text-align: center;
  }
  .chart{
    margin-top: 4rem;
  }
}

@media (min-width: 712px){
    .table{
        margin-left: 2rem;
    }
}

@media (min-width: 768px){
    .table{
        width: 80rem!important;
        margin-left: 1rem;
        margin-top: 3rem;
    }
   
}

@media (min-Width: 844px){
    .table{
        margin-left: 2rem;
        
    }
}

