/*Responsive Layout*/
@media (min-width: 384px){
    .pieChart{
        margin-left: -5rem;
        margin-top: .54rem;
    }
    .pieChart2{
        margin-left: -5rem;
        margin-top: .5rem;
    }
    .pieChart3{
        margin-left: -5rem!important;
        margin-top: .5rem;
    }
    .pieChart4{
        margin-left: -5rem!important;
        margin-top: .5rem;
    }
}

@media (min-width: 712px){
    .gridCard1{
        margin-left: 4rem;
    }
    .gridCard2{
        margin-left: 4rem;
    }
    .gridCard3{
        margin-left: 4rem;
    }
    .gridCard4{
        margin-left: 4rem;
    }
    .pieChart{
        margin-left: 3rem;
    }
    .pieChart2{
        margin-left: 28rem;
    }
    .pieChart3{
        margin-left: 3rem!important;
    }
    .pieChart4{
        margin-left: 28rem!important;
    }
}

@media (min-width: 768px){
    .gridCard1{
        margin-left: 4rem;
    }
    .gridCard2{
        margin-left: 4rem;
    }
    .gridCard3{
        margin-left: 4rem;
    }
    .gridCard4{
        margin-left: 4rem;
    }
    .pieChart{
        margin-left: 4.5rem;
    }
    .pieChart2{
        margin-left: 28rem;
    }
    .pieChart3{
        margin-left: 4.5rem!important;
    }
    .pieChart4{
        margin-left: 28rem!important;
    }
}

@media (min-width: 844px){
    .pieChart{
        margin-top: 2rem!important;
        margin-left: 6rem;
    }
    .pieChart2{
        margin-top: 2rem!important;
        margin-left: 30rem;
    }
    .pieChart3{
        margin-top: 1rem;
        margin-left: 6rem!important;
    }
    .pieChart4{
        margin-top: 1rem;
        margin-left: 30rem!important;
    }
}

@media (min-width: 915px){
    .pieChart{
        margin-left: 10rem;
    }
    .pieChart2{
        margin-left: 30rem;
    }
    .pieChart3{
        margin-left: 10rem!important;
    }
    .pieChart4{
        margin-left: 30rem!important;
    }
}

@media (min-width: 1024px){
     .pieChart{
        margin-left: 18rem;
        margin-top: -30rem!important;
    }
    .pieChart2{
        margin-left: 50rem;
        margin-top: -30rem!important;
    }
    .pieChart3{
        margin-left: 18rem!important;
        margin-top: -6rem;
    }
    .pieChart4{
        margin-left: 50rem!important;
        margin-top: -6rem;
    }
}

@media (min-width: 1138px){
    .pieChart{
        margin-left: 18rem;
        margin-top: -30rem!important;
    }
    .pieChart2{
        margin-left: 56rem;
        margin-top: -30rem!important;
    }
    .pieChart3{
        margin-left: 18rem!important;
        margin-top: -6rem;
    }
    .pieChart4{
        margin-left: 56rem!important;
        margin-top: -6rem;
    }
}

@media (min-width: 1440px){
    .pieChart{
        margin-left: 2rem;
        margin-top: -22rem!important;
    }
    .pieChart2{
        margin-left: 35rem;
        margin-top: -22rem!important;
    }
    .pieChart3{
        margin-left: 70rem!important;
        margin-top: -22rem;
    }
    .pieChart4{
        margin-left: 100rem!important;
        margin-top: -22rem;
    }
}